<div>
  <h1><%= @article.title %></h1>
  <div class="published"><p>Published <%= @article.created_at.strftime('%b %d, %Y') %></p></div>
  <div class="categories"><p>Filed under: <% @article.categories.each do |category| %>
    <%= category.name %>&nbsp;<% end %>
    </p></div>
  <div><%= @article.content %></div>
</div>